# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Mosquitto runtime data
mosquitto/data/
mosquitto/log/
